extends default

block content
  .home-search
    <H1>ECSE 4660 Final Project Backend Server</H1>
    <p>This is the backend server for the ECSE 4660 Final Project. Below are the available path extensions that pull data from the MongoDB based on provided information. The path names are utilized by the AngularJS REST APIs.</p>
    <br>
    <H2> Available Route Extensions:</H2>
    <br>
    <li> - &nbsp;/humiditysensor &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Returns all Humidity Sensor Data</li>
    <li> - &nbsp;/humiditysensor/id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Returns all Humidity Sensor Data for a Particular Sensor ID</li>    
    <br>
    <li> - &nbsp;/lightsensor  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Returns all Light Exposure Sensor Data</li>
    <li> - &nbsp;/lightsensor/id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Returns all Light Exposure Sensor Data for a Particular Sensor ID</li>        
    <br>
    <li> - &nbsp;/moisturesensor  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Returns all Moisture Sensor Data</li>
    <li> - &nbsp;/moisturesensor/id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Returns all Moisture Sensor Data for a Particular Sensor ID</li>        
    <br>
    <li> - &nbsp;/temperaturesensor  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Returns all Temperature Sensor Data</li>
    <li> - &nbsp;/temperaturesensor/id &nbsp;&nbsp;  Returns all Temperature Sensor Data for a Particular Sensor ID</li>        
