<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav id="navigationBar" class="navbar navbar-expand-lg ">
        <img id="WebPageIcon" src="../../../assets/Images/webpage_icon.png" class="d-inline-block align-top" alt="" [routerLink]="['/home']"> <!--/plantdata-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul  class="navbar-nav">
                <li class="nav-item">
                    <img id="NavIcon" src="../../../assets/Images/plant.png" alt="">
                </li>
                <li class="nav-item">
                    <a id="navbarLink" class="nav-link active" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                    <img id="NavIcon" src="../../../assets/Images/data.png" alt="">
                </li>
                <li class="nav-item">
                    <a id="navbarLink" class="nav-link" [routerLink]="['/sensordata']">Sensor Data</a>
                </li>
                <li class="nav-item">
                    <img id="NavIcon" src="../../../assets/Images/settings.png" alt="">
                </li>
                <li class="nav-item">
                    <a id="navbarLink" class="nav-link" [routerLink]="['/graph']">Graph</a>
                </li>
            </ul>
        </div>
    </nav>
  
</body>
</html>