nav#navBar{
    background: #234044
}

#HomeIcon{
    width: 70px;
    height: 62px;
    cursor: pointer;
    margin-left: 13px;
}
#IconNav1{
    width: 35px;
    height: 35px;
    margin-top: 4px;
    margin-left: 35px;
}
#IconNav2{
    width: 35px;
    height: 35px;
    margin-top: 6px;
    margin-left: 35px;
}
div#navbarNavAltMarkup{
    margin-left: 64%; 
}
a#LinkNav{
    margin-left: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    color: #DB966C !important;
}

a#LinkNav:hover{
    font-family: 'Quicksand';
    font-weight: 500;
    cursor: pointer;
}

